/*
Theme Name: Morgan and Tara Site Theme
Author: Morgan Spencer
Description: Theme for Morgan and Tara Website
Template: twentysixteen
Version: 1.0.0
Text Domain: morgantara-twentysixteen-child
*/

/* 
 
colors {
	navy: 	#0d3662
	purple: #480040
	gray: 	#cbcfda
}

*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600');

body {
	background-color: #ffffff;
}

body:not(.custom-background-image):before, body:not(.custom-background-image):after {
	display: none;
}

p {
	font-size: 16px !important;
}

#page.site {
	margin: 0;
}

#page .site-inner {
	width: 100%;
	max-width: 100%;
}

#large-header, .site-header-main {
	display: block;
}

#large-header #menu-toggle {
	width: 100%;
}

#masthead {
	padding: 0;
}

#masthead .small-header .site-branding {
	text-align: initial;
	margin-top: 0;
	margin-bottom: 0;
	width: auto;
}

#masthead .site-branding {
	width: 100%;
	text-align: center;
}

#masthead .site-branding .logo {
	display: inline-block;
	margin-bottom: 15px;
	transition: all .5s ease;
}

#masthead .small-header .site-branding .logo {
	margin: 0;
	padding: 5px;
}

#masthead .site-branding .logo img {
	max-width: 200px;
	width: 100%;
	margin: 0 auto;
	transition: all .5s ease;
}

#masthead .small-header .site-branding .logo img {
	max-width: 80px;
}

#masthead .small-header .site-branding .site-title {
	display: none;
}

#masthead .site-branding .hashtags {
	margin-bottom: 0;
	padding: 0 20px;
}

#masthead .small-header .site-branding .hashtags {
	display: none;
}

#site-header-menu {
	width: 100%;
	margin: 0;
	background-color: #480040;
}

#masthead .small-header #site-header-menu {
	width: 100%;
	margin: auto;
	margin-right: 0;
}

#site-navigation {
	margin: 0;
}

#menu-main-menu {
	text-align: center;
}

#menu-main-menu li {
	float: none;
	display: inline-block;
}

.site-branding .site-title a {
	text-transform: uppercase;
	font-weight: 500;
}

.site-branding .site-title a:hover, .site-branding .site-title a:focus {
	color: #480040;
}

.main-navigation a {
	color: #ffffff;
	font-weight: 500;
}

.main-navigation .current-menu-item, .main-navigation .current-menu-ancestor {
	border-bottom: 2px solid #ffffff;
}

.main-navigation .current-menu-item > a, .main-navigation .current-menu-ancestor > a {
	font-weight: 600;
}

#menu-toggle {
	margin: 0 auto;
	background-color: #480040;
	color: #ffffff;
	border: 2px solid #480040;
	border-left: none;
	border-right: none;
	border-radius: 0;
	width: 100%;
	-webkit-transition: all .4s;
	transition: all .4s;
}

#menu-toggle:hover {
	background-color: #ffffff;
	color: #480040;
}

#cc-countdown {
	display: table;
	margin: 0 auto 1.7em;
	padding: 0 5px;
	border-top: 2px solid #000000;
	border-bottom: 2px solid #000000;
	text-transform: uppercase;
	font-size: 24px;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
	font-weight: 500;
}

#cc-countdown .time-segment {
	display: inline-block;
	margin: 0 5px;
	padding: 8px;
	text-align: center;
	font-size: xx-small;
}

#cc-countdown .time-segment .time-value {
	display: block;
	font-size: 30px;
	line-height: 30px;
}

#masthead .small-header #cc-countdown {
	float: right;
	margin: 24px;
}

#masthead .small-header #cc-countdown .time-segment .time-value {
	font-size: 20px;
	line-height: 20px;
}

#primary.full {
	width: 100%;
	float: none;
	margin: 0;
}

#main.site-main {
	margin-bottom: 2em;
}

body.page-id-10 .gallery {
	margin-bottom: 0;
}

#main .entry-footer {
	margin: 0 30px;
	display: none;
}

.entry-header img {
	max-height: 600px;
	object-fit: cover;
	object-position: 50% 90%;
}

#main .entry-content {
	max-width: 1000px;
	padding: 0 20px;
	margin: 0 auto;
	width: 100%;
}

#main .type-page {
	max-width: 100%;
	width: 100%;
}

#main .entry-header {
	margin: 0 0 50px;
	position: relative;
}

#main .entry-header.no-featured-image {
	margin: 50px 0;
}

#main .type-page .entry-title {
	text-align: center;
	text-transform: uppercase;
	font-weight: 500;
}

.wedding-registry-link {
	box-shadow: none !important;
}

.site-info {
	margin: 0 auto;
}

#content .type-post .entry-content {
	float: none;
	margin-bottom: 15px;
}

body.single-post #content .type-post .entry-content {
	padding: 0;
}

.site-content {
	padding: 0;
}

body.blog .site-content,
body.single .site-content,
body.category .site-content,
body.archive .site-content {
	padding: 0 15px;
	max-width: 1000px;
	margin: 30px auto;
}

body.blog .entry-title,
body.category .entry-title,
body.archive .entry-title {
	position: static;
	margin-bottom: 1.05em;
}

body.blog #main .entry-content,
body.category #main .entry-content,
body.archive #main .entry-content {
	padding: 0;
}

body.blog #main .entry-footer,
body.category #main .entry-footer,
body.archive #main .entry-footer {
	margin: 0;
}

.post-thumbnail {
	margin: 0 0 50px;
}

.post-thumbnail img {
	width: 100%;
	max-height: 450px;
	object-position: 50% 50%;
	object-fit: cover;
}

.entry-title {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: table;
    width: 100%;
    color: #ffffff;
    text-shadow: 0 0 8px #000000;
    font-size: 3em;
}

.entry-header.no-featured-image .entry-title {
	position: static;
	margin: 30px 0;
	color: #000000;
	text-shadow: none;
}

body.home .entry-content p {
	width: 60%;
	margin-left: 40%;
}

body.home .entry-content img {
	float: left;
	margin: 0 0 20px;
	width: 39%;
	padding-right: 10px;
	-webkit-transition: all ease 1s;
			transition: all ease 1s;
}

body.home .entry-content img.full-width {
	margin: 8px auto 1.75em;
	width: 100%;
}

body.blog .entry-title,
body.category .entry-title,
body.archive .entry-title {
	text-shadow: none;
}

body.category .page-header,
body.archive .page-header {
	margin-bottom: 15px;	
}

body.category .page-header h1,
body.archive .page-header h1 {
	display: none;
}

@media screen and (max-width: 909px) {
	#menu-main-menu li {
		display: block;
	}

	.main-navigation .current-menu-item, .main-navigation .current-menu-ancestor {
		border-bottom-width: 0;
	}
}

@media screen and (max-width: 767px) {
	body.home .entry-content p {
		width: 100%;
		margin-left: 0;
	}

	body.home .entry-content img {
		float: none;
		margin: 0 auto 1.75em;
		width: 100%;
		max-width: 500px;
	}
}

@media screen and (max-width: 425px) {
	#masthead .small-header .site-branding {
		text-align: center;
	}
	
	#masthead .small-header #cc-countdown {
		float: unset;
		margin: 24px auto;
	}
}

@media screen and (min-width: 56.875em) {
	.site-content {
		padding: 0;
	}
}

@media screen and (min-width: 61.5625em) {
	.post-thumbnail {
		margin-bottom: 50px;
	}
}