#mmsppg-capture {
    width: 300px;
    height: 450px;
    background-repeat: no-repeat;
    background-size: auto 100%;
    position: absolute;
    overflow: hidden;
    background-position: center center;
    left: -99999999999px;
}

#mmsppg-capture .pin-image-background {
    height: 100%;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#mmsppg-capture .content {
    display: block;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 40px 30px;
    background-color: rgba(255,255,255,0.85);
    
}

#mmsppg-capture .title {
    font-size: 25px;
    font-family: 'Frank Ruhl Libre', serif;
    font-weight: 500;
    line-height: 115%;
    display: block;
}

#mmsppg-capture .blog-url {
    font-size: 10px;
    font-family: 'Open Sans', serif;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #75ff8d;
    display: inline-block;
    padding: 0 5px;
    margin-top: 8px;
}

#mmsppg-pinterest-image-generator:not(.visible) {
    display: none;
}

#mmsppg-pinterest-image {
    width: 100%;
    display: block;
    position: relative;
    background: none;
}

#mmsppg-pinterest-image i {
    color: #bd081c;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    font-size: 32px;
    text-decoration: none;
    border-radius: 50%;
    background-color: #fff;
    margin: 5px;
}

#mmsppg-pinterest-image img {
    display: block;
    width: 100%;
    height: auto;
}